<a href="https://colab.research.google.com/github/TheOneandOnly1999/SmartKnower_Project/blob/main/Class11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
s=['Congrats. You have won the lottery and you can get the lottery money by calling the lottery number',
   'Give your bank details for lottery',
   'Lottery for sure if bank details are verified']

In [41]:
s[0].split()

['Congrats.',
 'You',
 'have',
 'won',
 'the',
 'lottery',
 'and',
 'you',
 'can',
 'get',
 'the',
 'lottery',
 'money',
 'by',
 'calling',
 'the',
 'lottery',
 'number']

In [42]:
from sklearn.feature_extraction.text import CountVectorizer

In [43]:
#Creating Vectorizing Object
#CountVectorizer transforms all words to small letters and arranged all words to ascending order
vect=CountVectorizer(stop_words='english')
output=vect.fit_transform(s).toarray()
output

array([[0, 1, 1, 0, 3, 1, 1, 0, 0, 1],
       [1, 0, 0, 1, 1, 0, 0, 0, 0, 0],
       [1, 0, 0, 1, 1, 0, 0, 1, 1, 0]])

In [44]:
vect=CountVectorizer(stop_words='english')
output=vect.fit_transform(s).toarray()
output

array([[0, 1, 1, 0, 3, 1, 1, 0, 0, 1],
       [1, 0, 0, 1, 1, 0, 0, 0, 0, 0],
       [1, 0, 0, 1, 1, 0, 0, 1, 1, 0]])

In [45]:
import pandas as pd
df=pd.DataFrame(output,columns=vect.get_feature_names())
df

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

   bank  calling  congrats  details  ...  number  sure  verified  won
0     0        1         1        0  ...       1     0         0    1
1     1        0         0        1  ...       0     0         0    0
2     1        0         0        1  ...       0     1         1    0

[3 rows x 10 columns]

In [46]:
#Project starts
path='https://raw.githubusercontent.com/diazoniclabs/Machine-Learning-using-sklearn/master/Datasets/spam.tsv'
df=pd.read_csv(path,sep='\t')
df

     label                                            message  length  punct
0      ham  Go until jurong point, crazy.. Available only ...     111      9
1      ham                      Ok lar... Joking wif u oni...      29      6
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
3      ham  U dun say so early hor... U c already then say...      49      6
4      ham  Nah I don't think he goes to usf, he lives aro...      61      2
...    ...                                                ...     ...    ...
5567  spam  This is the 2nd time we have tried 2 contact u...     160      8
5568   ham               Will ü b going to esplanade fr home?      36      1
5569   ham  Pity, * was in mood for that. So...any other s...      57      7
5570   ham  The guy did some bitching but I acted like i'd...     125      1
5571   ham                         Rofl. Its true to its name      26      1

[5572 rows x 4 columns]

In [47]:
df['label'].value_counts()
#Imbalanced dataset because no of ham greater than no of spam
#Imbalanced dataset:Prescision and Recall

ham     4825
spam     747
Name: label, dtype: int64

In [48]:
#Input and Output
x=df['message'].values
y=df['label'].values

In [49]:
#Split the data
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0)

In [50]:
print(x_train.shape)
print(x_test.shape)

(4179,)
(1393,)

In [51]:
from sklearn.feature_extraction.text import CountVectorizer

In [52]:
#Creating Vectorizing Object
#CountVectorizer transforms all words to small letters and arranged all words to ascending order
vect=CountVectorizer(stop_words='english')
x_train=vect.fit_transform(x_train)
x_test=vect.transform(x_test)

In [53]:
from sklearn.svm import SVC
model=SVC()
model.fit(x_train,y_train)

SVC()

In [54]:
y_pred=model.predict(x_test)

In [56]:
from sklearn.metrics import accuracy_score,classification_report
accuracy_score(y_pred,y_test)

0.9813352476669059

In [57]:
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

         ham       1.00      0.98      0.99      1234
        spam       0.86      1.00      0.92       159

    accuracy                           0.98      1393
   macro avg       0.93      0.99      0.96      1393
weighted avg       0.98      0.98      0.98      1393

In [64]:
test=df['message'][0]

In [65]:
df['label'][0]

'ham'

In [70]:
test=vect.transform([df['message'][0]])
model.predict(test)

array(['ham'], dtype=object)

In [ ]:
#Pipeline
#Joblib=Saving the model
#Streamlit=Webapp
#